<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trends</title>
</head>
<body style="margin: 0; height: 100%; font-family: 'Courier New', Courier, monospace;">
    <div style="display: flex; height: 100vh; justify-content: center; align-items: center; background-color: black;">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h1 style="color: aliceblue;">X's Trending List</h1>
            <form action="/trends" method="POST">
                <button type="submit" style="background-color: blueviolet; padding: 13px; border-radius: 15px; color: aliceblue; border: none; cursor: pointer; font-family: 'Courier New', Courier, monospace;">Run Selenium Script</button>
            </form>
        </div>
    </div>
</body>
</html>
